.DS_Store
node_modules/
package-lock.json
16.vue-router/node_modules/
16.vue-router/package-lock.json
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
